@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

@font-face {
  font-family: "wubba lubba dub dub";
  src: url (assets/wubbalubbadubdub.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --color-custom_green: #b3d531;
  --color-custom_blue: #00c0d5;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: #2f3531;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
  margin-bottom: 40px;
}

header {
  background-color: var(--color-custom_blue);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
}

.title {
  padding: 10px 0;
  text-align: center;
  font-family: "wubba lubba dub dub";
  font-size: 36px;
}

h2 {
  font-family: "wubba lubba dub dub";
}
